@use "../../styles/theme.scss" as *;
@use "../../styles/mixins.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .question_container {
      display: flex;
      justify-content: center;

      .question_content {
        display: flex;
        width: 1200px;

        .question {
          background-color: white;
          border-radius: 20px;
          margin: 0;
          padding: 20px;

          .word {
            font-weight: bold;
          }
        }
      }
    }

    .gifs_container {
      display: flex;
      justify-content: center;

      .gifs {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        width: 1200px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-height: 100px;

  .footer_container {
    background-color: #c3c3c3;
    border-radius: 10px 10px 0 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 1200px;

    @media screen and (max-width: 520px) {
      flex-direction: column;
    }

    .button {
      @include button;
      align-self: center;

      flex: 1;
    }
  }
}

.empty_answer {
  background-color: $secondary-darker-color !important;
}

.right_answer {
  background-color: $green-color !important;
}

.wrong_answer {
  background-color: $red-color !important;
}

.finish_container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: auto;
  max-width: 800px;
  padding: 30px;
  text-align: center;
}
